@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

*{margin: 0;} 

body {
  font-family: Arial, Helvetica, sans-serif;
}


video {
    width: 99%;
    height: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#topHeader  { 
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

li {
  float: left;
  margin: 5px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16PX;
  text-decoration: none;
  font-family:'notable', sans-serif ;
}

li a:hover {
  color: orange;
}


.bigfont {
   font-size: 5px;
}

#copy {
  position: fixed ;
  left: 0;
  bottom: 0;
}

#cookie {
  color:  #FFF ;
  left: 0;
  bottom: 0;
}

#section {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 10em;
  background-color:#FA0 ;
  padding: 10px;
  text-align: center;
  opacity: 50%;
}

.aside {
flex-grow: 1;
}


.footer1 {
  float: right;
  clear: both;
}

.sectionNormal {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  float: left;
}
#articleSection {
  display: flex;
  flex-wrap: wrap;
}
.article1 {
  flex-basis: 100%;
  flex-grow: 1;
}

.article2 {
  flex-grow: 0;
  flex-basis: 100%;
}

.article3 {
  flex-grow: 0;
  flex-basis: 100%;
}
.article4 {
  float: right;
}
.imgA {
  float: right;
  height: 150px;
  width: 250px;
  flex-wrap: wrap;
  padding-right: 30px;
  margin-top: -150px;
}
section .figure {
  float: right;
}
@media screen and (min-width: 1280px) {

}


@media screen and (max-width: 480px){

}

/* Ik ga nooit meer met flexbox werken, dat weet ik zeker */