@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
}

*{margin: 0;} 

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#topHeader  { 
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

li {
  float: left;
  margin: 5px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16PX;
  text-decoration: none;
  font-family:'notable', sans-serif ;
}
aside img {
    width: 300px;
    height: auto;
    float: right;
  }

li a:hover {
  color: orange;
}

/* Table css */
#timetable {
color: #FFF;
margin: 5%;
background-color: black;
}

#geotime {
    color: black;
}

#europetable {
    border: 1px solid black;
    color: black
}

td:first-child{
    background-color: #FFFF00;
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: #CFF;
}
tr:nth-child(odd){
    background-color: #FFF;
}

td {
    border: 1px solid black;
}

#article {
    border: 3px solid black;
    grid-area: article;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#aside1 {
    grid-area: aside1;
    margin-bottom: 50px;

}

#aside2 {
    grid-area: aside2;
    margin-bottom: 50px;
}

#aside3 {
    grid-area: aside3;
    margin-bottom: 50px;
}

#europetable {
    grid-area: eurotable;
}

#europetableF {
    grid-area: tablefooter;
}

#footer {
    grid-area: footer;
}

article h2 {
    margin-bottom: 20px;
    text-align: center;
}


/* Grid */

.container {
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows:auto auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "article article article"
    "eurotable eurotable aside1"
    "eurotable eurotable aside2"
    "eurotable eurotable aside3"
    "eurotable eurotable none"
    "eurotable eurotable none"
    "eurotable eurotable tablefooter "
    "footer footer cookie"

}   





#copy {
    position: static ;
    left: 0;
    bottom: 0;
}

#cookie {
    color:  #FFF ;
    left: 0;
    bottom: 0;
}

#section {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 10em;
    background-color:#FA0 ;
    padding: 10px;
    text-align: center;
    opacity: 50%;
}